[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=CTP Spring 2018 Project Proposal
Type=Link
URL=https://docs.google.com/document/d/1CFNNyVeU9Sk2vI-UsREA3o28mYcZ3adHUX7E68KZgYc/edit?usp=drivesdk
